body {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #0c80466e;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #0c8046;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Nanum Gothic Coding", monospace;
}

#results {
    margin-top: 20px;
    font-size: 18px;
}