body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px); /* 4 colunas*/
    grid-gap: 10px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card-revealed {
    background-color: #fff;
}

.card.hidden::before {
    content: '?';
    font-size: 32px;
}

.result {
    color: red;
    font-size: large;
    margin-left: 30px;
}